body{
    background-color: darkslategrey;
}

h1{
    color: darkseagreen;
    text-align: center;
    border-style: none;
    background-color: dimgray;
    font-family: florence;
    width: 500px;
    margin-left: 400px;
    margin-top:0px;

}

